{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "targets": {
        "ie": 9
      },
      "shippedProposals": true
    }],
    ["@babel/preset-stage-2"]
  ],
  "plugins": []
}
