{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "targets": {
        "ie": 9,
        "browsers": ["last 5 versions", "safari >= 7", "not ie < 9"]
      },
      "shippedProposals": true
    }],
    ["@babel/preset-stage-1"],
    ["@babel/preset-stage-2"]
  ],
  "plugins": []
}
